body{
    background-color: rgb(5, 5, 5);
    color: rgb(255, 255, 255);
}
.cabecalho{
   background-image: url(./img/Screenshot\ 2026-06-24\ 12.10.46.pn);
   display: flex;
   flex-direction: column;
   align-items: center;
}

.conteudo01{
    display: flex ;
    padding: 32px;
    justify-content: center;
    align-items: center;
    background-color: brown;
    font-size: 24px;
    color: aliceblue;
}
.conteudo01-img{
    width: 40%;
}
.conteudo01-direito{
    background-color: blue;
    padding: 32px;

}

