body{
    background-color: rgb(51, 31, 138);
    color: rgb(15, 69, 85);
}
.cabecalho{
   background: linear-gradient(to right, rgb(22, 93, 114)30%, rgb(37, 149, 168)30%)
}

.cabecalho img{
    text-align: center;
    width:100px;
}
.cabecalho h1{
    margin-left: 30%;
}